<div class="container mt-5">
  <div><%= image_tag asset_path(@flat.image), class: "w-100 rounded mb-4" %></div>
  <h1 class="mb-4"><%= @flat.name %></h1>
  <p class="m-0"><strong>Address: </strong><%= @flat.address %></p>
  <p class="m-0"><strong>Description: </strong><%= @flat.description %></p>
  <p class="m-0"><strong>Price per night:</strong> $<%= @flat.price_per_night %></p>
  <p class="m-0"><strong>Number of guests: </strong><%= @flat.number_of_guests %></p>
  <br>
  <br>
  <div>
    <%= link_to "Edit flat", edit_flat_path, class: "btn btn-light me-2 border border-secondary mb-5" %>
    <%= link_to "Delete flat", flat_path(@flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-light me-2 border border-secondary mb-5" %>
    <%= link_to "Back to flats", flats_path, class: "btn btn-light me-2 border border-secondary mb-5" %>
  </div>
</div>
